doctype html
head
  meta(charset='UTF-8')
  title Book Ticket-ROSH Railways
  link(rel='icon' href='../static/Images/favicon.png')
  link(rel='stylesheet' href='../static/style_login_and_register.css')
  link(href='https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap' rel='stylesheet')
  //- #body_s
  header#header
    #navig
      img#logo.head(src='../static/Images/final logo.png' alt='Logo')
      ul.nav
        span.nav-item
          a.nav-link.active(onclick='nav' href='index') Home
        span.nav-item
          a.nav-link(href='index#about') About
        span.nav-item
          a.nav-link(href='index#services') Services
        span.nav-item
          a.nav-link(href='contact') Contact Us
        span.nav-item
          a#login_button.nav-link(href='login') #{name}
  section#section
    div
      ul.side_bar
        a#abc.side_bar1(href='pnr_status' onmouseover="func()") PNR status
      ul.side_bar
        a#ab.side_bar1(href='book' onmouseover="func()") Book Ticket
      ul.side_bar
        a#a.side_bar1(href='cancel' onmouseover="func()") Cancel Ticket
      ul.side_bar
        a#abcd.side_bar1(href='search_train_nameno' onmouseover="func()") Search By Train
      ul.side_bar
        a#abcde.side_bar1(href='search_station' onmouseover="func()") Search By station
      ul.side_bar
        a#abcdef.side_bar1(href='rules') Rules for safety
      ul.side_bar
        a#abcdefg.side_bar1(href='other') Other
  p.ava_t Available Trains
  table(id="train_table" border="1")
    thead 
        tr
            th Train No.
            th Train Name 
            th Total Seats
            th Available Seats 
            th Source 
            th Destination 
            th Date
            th Time
            th Passengers
            th Action
    each item in items
          tr 
              td #{item.train_no}
              td #{item.train_name}
              td #{item.total_seats}
              td #{item.available_seats}
              td #{item.source_station}
              td #{item.destination_station}
              td #{item.train_date}
              td #{item.train_time}
              form(action='/payment' method='POST')
                td#td
                    input(type="number" name="qty" required)
                    input.book_input(type="number" value=item.train_no name="train_no")
                td#td
                    input(type="submit" value="Book")

  footer#footer_1
    #images
      img#amrit.image(src='../static/Images/amrit mahotsav.jpg' alt='Amrit Mahotsav')
      img#make_in_india.image(src='../static/Images/make in india.jpg' alt='Make in India')
      img#digital.image(src='../static/Images/Digital india.jpg' alt='Digital India')
      img#incredible.image(src='../static/Images/incredible india.png' alt='Incredible India')
    #end_line
      span Copyright &copy; 2022 RoSh Railway Systems. All Rights Reserved.
    #developer Developed by RoSh Technologies.
  script(type="application/x-javascript" src='../static/index.js')
